.line{display:block; margin-top: -3%}
.line h2{font-size:14px; border-bottom:1px solid #ccc; position:relative; margin-top: 0%; }
.line h2 span { background-color: white; position: relative; top: 10px; padding: 0 10px; font-size: 12px;font-weight: 400;}